target
.recommenders
.settings
logs
*.log
.idea
*.iml
*.ipr
*.iws
*.class
.classpath
.project
bin
*.svn
*/lib/*

.DS_Store
._*  
.cache 
.tmproj  
*.esproj  
*.sublime-project  
*.sublime-workspace  
nbproject  
thumbs.db

*.codekit
.metadata/

node_modules
.npm
*/template/*
*/**/*.swap

#python pyc
*.pyc
